@import "tailwindcss";
@import "./variables.css";
@import "./special.css";
@import "./scrollbar.css";
@import "@chinese-fonts/lxgwwenkaibright/dist/LXGWBright-Medium/result.css";

@layer base {

  :root {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  body {
    @apply bg-[--bg-color] text-[--text-color];
    font-family: "Noto Serif SC", "Times New Roman", "STZhongsong", serif;
    overflow-y: scroll;
  }
  

  ::selection {
    background-color: var(--button-hover-color);
    /* color: var(--text-color); */
  }
  
  ::-moz-selection {
    background-color: var(--button-hover-color);
    /* color: var(--text-color); */
  }

}