---
import { siteConfig } from '@/config';
import "@styles/global.css"
import { i18n } from "astro:config/client";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  lang?: string;
}
const { title, lang } = Astro.props;

const pageTitle = title;
const pageLang = lang || i18n?.defaultLocale || "zh-cn";
---

<!DOCTYPE html>
<html lang={pageLang} class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title={siteConfig.title} href={new URL("rss.xml", Astro.site)} >
    <link rel="icon" href={siteConfig.favicon} type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond">
    <link rel="stylesheet" href="https://cdn.staticfile.net/KaTeX/0.16.9/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
    <title>{pageTitle}</title>
    <ClientRouter />

    <script is:inline>
        const theme = (() => {
        // 1. 优先从 localStorage 获取用户之前的手动设置
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
            return localStorage.getItem('theme');
        }
        // 2. 其次根据系统偏好
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
        }
        return 'light';
        })();

        if (theme === 'dark') {
        document.documentElement.classList.add('dark');
        } else {
        document.documentElement.classList.remove('dark');
        }
        window.localStorage.setItem('theme', theme);
    </script>

</head>
<body class="h-full bg-[var(--bg-color)]">
    <slot />
</body>
</html>
